# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vulkan
vulkan/

# Editor
.idea/
.vscode/

# Scripts
scripts/

# Build outputs
build/*
!build/shaders
!/build/shaders/*.glsl

# CMake
cmake/
